<!-- <div *ngIf="user">
    <h2>{{user.fullName | uppercase}} Details</h2>
    <div><span>id: </span>{{user.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="user.fullName" placeholder="fullName"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div> -->
  
  <div *ngIf="user">
      <p-header>
          <div class="ui-helper-clearfix">
                <div >
                        <div class="f-grid-col">
                            <i class="ti ti-angle-left" (click)="goBack()" style="font-size: 30px; cursor: pointer;"></i>
                            <span style="font-size: 20px; margin-left: 1em">Go Back</span>
                        </div>
                    </div>
                    <div class="f-grid"></div>
              <div class="ui-g">
                  <!-- <div class="ui-g-12 ui-md-4">
                      <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                          (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                  </div>
                  <div class="ui-g-6 ui-md-4 filter-container">
                      <div style="position:relative">
                          <input type="search" pInputText placeholder="Search by full name"
                              (keyup)="dv.filter($event.target.value)">
                      </div>
                  </div> -->
                  <div class="ui-g-6 ui-md-4" style="text-align:right">
  
                  </div>
              </div>
          </div>
      </p-header>
  
      <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="text-align:center">
  
              <img src="assets/images/c4.jpg">
  
  
          </div>
          <div class="ui-g-12 ui-md-8 car-details">
              <div class="ui-g">
                  <div class="ui-g-2 ui-sm-6">ID: </div>
                  <div class="ui-g-10 ui-sm-6" ><b>{{user.id}}</b></div>
  
                  <div class="ui-g-2 ui-sm-6">Email: </div>
                  <div class="ui-g-10 ui-sm-6" ><b>{{user.email}}</b></div>
  
                  <div class="ui-g-2 ui-sm-6">Full Name: </div>
                  <div class="ui-g-10 ui-sm-6" ><b>
                      <input [(ngModel)]="user.fullName" placeholder="Full Name"/>
                  </b></div>
  
                  <div class="ui-g-2 ui-sm-6">Birthday: </div>
                  <div class="ui-g-10 ui-sm-6" ><b>
                        <div class="ui-g-12 ui-md-4">
                                
                                <p-calendar [(ngModel)]="date13" [touchUI]="true"></p-calendar>
                            </div>
                  </b></div>
  
                  <div class="ui-g-2 ui-sm-6">Role/Roles: </div>
                  <div class="ui-g-10 ui-sm-6" type="pInputText">{{user.role}}<b>
  
                      </b></div>
  
                  <div class="ui-g-2 ui-sm-6">Enable: </div>
                  <div class="ui-g-10 ui-sm-6"><b>
                          <label class="switch">
                              <input type="checkbox" [(ngModel)]= "user.enable" >
                              <span class="slider round"></span>
                          </label>
                      </b></div>
  
              </div>
          </div>
  
      </div>
  
  
      
  </div>