<h2>My Books</h2>

<nav>
  <a routerLink="/login">Login</a>
</nav> 

<button (click)="logout()">
  Logout
</button> 

<div>
  <label>Title Of Books
    <input #bookTitle />
  </label>
</div>

<div>
    <label>Author Of Books
        <input #bookAuthor />
    </label>
</div>
 
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(bookTitle.value, bookAuthor.value); bookTitle.value=''; bookAuthor.value='' ">
    Add
  </button> 



<ul class="books">
  <li *ngFor="let book of books">
    <a routerLink="/books/{{book.id}}">
      <span class="badge">{{book.id}}</span> {{book.title}}
    </a>
 

    <button class="delete" title="delete book"
      (click)="delete(book)">x</button>  
  </li>
</ul>