<div *ngIf="user">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                </div>
            </div>
        </div>
    </p-header>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-3" style="text-align:center">
            <img src="assets/images/c4.jpg">
        </div>
        <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">ID: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.id}}</b></div>

                <div class="ui-g-2 ui-sm-6">Email: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.email}}</b></div>

                <div class="ui-g-2 ui-sm-6">Full Name: </div>
                <div class="ui-g-10 ui-sm-6"><b>
                        <input [(ngModel)]="user.fullName" placeholder="Full Name" />
                    </b></div>

                <div class="ui-g-2 ui-sm-6">Birthday: </div>
                <div class="ui-g-10 ui-sm-6"><b>
                    
                        <div class="ui-g-12 ui-md-4">
                                
                                <p-calendar [(ngModel)]="user.birthday" showButtonBar="true" placeholder="{{user.birthday | date:'dd-MM-yyyy'}}">{{user.birthday}}</p-calendar>
                            </div>
                          
                </b></div>

                <div class="ui-g-2 ui-sm-6">Role/Roles: </div>
                <div class="ui-g-10 ui-sm-6" type="pInputText">{{user.role}}<b>
                    </b></div>

                <div class="ui-g-2 ui-sm-6">Enable: </div>
                <div class="ui-g-10 ui-sm-6"><b>
                        <p-inputSwitch [(ngModel)]="user.enabled"></p-inputSwitch>
                </b></div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-8 car-details">
                <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-secondary" (click)="goBack()"></button>
                <button pButton type="button" label="Save" class="ui-button-raised ui-button-success" (click)="save()"></button>
        </div>

        

    </div>



</div>