<!-- <div *ngIf="user">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                </div>
            </div>
        </div>
    </p-header>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-3" style="text-align:center">
            <img src="assets/images/c4.jpg">
        </div>
        <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">ID: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.id}}</b></div>

                <div class="ui-g-2 ui-sm-6">Email: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.email}}</b></div>

                <div class="ui-g-2 ui-sm-6">Full Name: </div>
                <div class="ui-g-10 ui-sm-6"><b>
                        <input [(ngModel)]="user.fullName" placeholder="Full Name" />
                    </b></div>

                <div class="ui-g-2 ui-sm-6">Birthday: </div>
                <div class="ui-g-10 ui-sm-6"><b>
                    
                        <div class="ui-g-12 ui-md-4">
                                
                                <p-calendar [(ngModel)]="user.birthday" showButtonBar="true" placeholder="{{user.birthday | date:'dd-MM-yyyy'}}">{{user.birthday}}</p-calendar>
                            </div>
                          
                </b></div>

                <div class="ui-g-2 ui-sm-6">Role/Roles: </div>
                <div class="ui-g-10 ui-sm-6" type="pInputText">{{user.role}}<b>
                    </b></div>

                <div class="ui-g-2 ui-sm-6">Enable: </div>
                <div class="ui-g-10 ui-sm-6"><b>
                        <p-inputSwitch [(ngModel)]="user.enabled"></p-inputSwitch>
                </b></div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-8 car-details">
                <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-secondary" (click)="goBack()"></button>
                <button pButton type="button" label="Save" class="ui-button-raised ui-button-success" (click)="save()"></button>
        </div>

        

    </div>
</div> -->


<body>

  <div *ngIf="user">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
            <!-- <a href="/register" class="signup-image-link">Create an account</a> -->
          </div>

          <div class="signin-form">
            <h2 class="form-title">Information</h2>

            <div class="form-group">
              <label for="id"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" [(ngModel)]="id" placeholder="{{user.id}}" disabled />
            </div>

            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" [(ngModel)]="email" placeholder="{{user.email}}" disabled />
            </div>

            <div class="form-group">
              <label for="fullName"><i class="zmdi zmdi-lock"></i></label>
              <input type="text" [(ngModel)]="fullName" placeholder="{{user.fullName}}" />
            </div>

            <div class="form-group">
              <label for="birthday"><i class="zmdi zmdi-lock"></i></label>
              <p-calendar [(ngModel)]="user.birthday" showButtonBar="true"
                placeholder="{{user.birthday | date:'dd-MM-yyyy'}}">{{user.birthday}}</p-calendar>
            </div>

            <div class="form-group">
              <label for="Actived"><i class="zmdi zmdi-lock"></i></label>
              <p-inputSwitch [(ngModel)]="user.enabled"></p-inputSwitch>
            </div>

            <div class="form-group ">
              <button [disabled]="loading" class="form-submit">Login</button>
              <img *ngIf="loading" class="pl-3"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </div>
        </div>
      </div>
    </section>
    </form>
  </div>
</body>
