<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Home</a>
    </div>
  </div>
</nav>

<!-- <p-sidebar [(visible)]="display"> -->
  <p-sidebar>
  <h1 style="font-weight:normal">Menu</h1>
  <td>
    <p-tieredMenu [model]="itemsBook" routerLink="/manage-books"></p-tieredMenu>
    <div style="margin-top: 2em"></div>
    <p-tieredMenu [model]="itemsUser" routerLink="/users"></p-tieredMenu>

  </td>

</p-sidebar>

<!-- <button type="text" (click)="display = true" pButton icon="ti ti-view-list-alt"></button> -->
<button type="text"  pButton icon="ti ti-view-list-alt"></button>

<nav class="navbar navbar-inverse"></nav>

<p-table [value]="books" [paginator]="true" [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[5,10,20]">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Create At</th>
      <th>Enable</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr>
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.createdAt | date:'dd-MM-yyyy'}}</td>
      
      <td>

        <div *ngIf="book.enabled; else showDisable">
          <span class="badge badge-success">Enable</span>
        </div>
        <ng-template #showDisable>
          <span class="badge badge-danger">Disable</span>
        </ng-template>

      </td>
      <td>
        <button pButton type="button" label="Edit" class="ui-button-rounded ui-button-info"
          routerLink="/book-manange/edit/{{book.id}}" style="margin-right: 1.5em"></button>
   
          <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
              <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
              </div>
              <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                  <button type="button" pButton (click)="delete(book)" label="Yes" class="ui-button-success"></button>
                </div>
                <div class="ui-g-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                </div>
              </div>
            </ng-template>
          </p-toast>
         <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger" (click)="showConfirm()">
        </button>
      </td>
    </tr>

  </ng-template>
</p-table>
