<div *ngIf="user">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                        (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by full name"
                            (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">

                </div>
            </div>
        </div>
    </p-header>

    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9; position: relative;
        left: 249px;">
        <div class="ui-g-12 ui-md-3" style="text-align:center">

            <img src="assets/images/c4.jpg">


        </div>
        <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">ID: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.id}}</b></div>

                <div class="ui-g-2 ui-sm-6">Email: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.email}}</b></div>

                <div class="ui-g-2 ui-sm-6">Full Name: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.fullName}}</b></div>

                <div class="ui-g-2 ui-sm-6">Birthday: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.birthday | date:'dd-MM-yyyy'}}</b></div>

                <div class="ui-g-2 ui-sm-6">Role/Roles: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{user.role}}</b></div>

                <div class="ui-g-2 ui-sm-6">Enable: </div>
                <div class="ui-g-10 ui-sm-6" ><b>
                    <div *ngIf="user.enable; then Enable else Disable"></div>
                    <ng-template #Enable><span class="badge badge-success" >Enable</span></ng-template>
                    <ng-template #Disable><span class="badge badge-danger" >Disable</span></ng-template>
                </b></div>

            </div>
        </div>

    </div>


    <div class="f-grid">
        <div class="f-grid-col">
            <i class="ti ti-angle-left" (click)="goBack()" style="font-size: 30px; cursor: pointer;"></i>
            <span style="font-size: 20px; margin-left: 1em">Go Back</span>
        </div>

        <div class="f-grid-col">
            <span style="font-size: 20px; margin-right: 1em">Edit</span>
            <i class="ti ti-angle-right" routerLink="/users/edit/{{user.id}}"
                style="font-size: 30px; margin-right:0.5em; cursor: pointer"></i>
        </div>
    </div>
</div>