<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!--================Header Menu Area =================-->
  <div *ngIf= "!checkLogin(); else login">
      <header class="header_area">
        <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
              <!-- Brand and toggle get grouped for better mobile display -->
              <a class="navbar-brand logo_h" href="index.html"><img src="../favicon.ico" alt=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Collect the nav links, forms, and other content for toggling -->
              
              <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav justify-content-center">
                  <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item submenu dropdown">
                        <div *ngIf="role=='ROLE_ADMIN'">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false" style="cursor: pointer;">Manager</a>
    
                      <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                        <li class="nav-item"><a class="nav-link" href="/manage-books">Books</a></li>
                      </ul>
                    </div>
                      
                  </li>
                  <li class="nav-item"><a class="nav-link" (click)="logout()" routerLink="/">Logout</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right navbar-social">
                  <li><a href="#"><i class="ti ti-facebook"></i></a></li>
                  <li><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                  <li><a href="#"><i class="ti ti-instagram"></i></a></li>
                  <li><a href="#"><i class="ti ti-skype"></i></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
    </div>
    
    <ng-template #login>
    
        <header class="header_area">
            <div class="main_menu">
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                  <!-- Collect the nav links, forms, and other content for toggling --> 
                  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center">
                      <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>        
                      <li class="nav-item submenu dropdown">
                          <div *ngIf="role=='ROLE_ADMIN'">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">Manager</a>
      
                        <ul class="dropdown-menu">
                          <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                          <li class="nav-item"><a class="nav-link" href="/manage-books">Books</a></li>
                        </ul>
                      </div>
                    </li>
                      <li class="nav-item"><a class="nav-link" (click)="logout()" routerLink="/">Logout</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right navbar-social">
                      <li><a href="#"><i class="ti ti-facebook"></i></a></li>
                      <li><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                      <li><a href="#"><i class="ti ti-instagram"></i></a></li>
                      <li><a href="#"><i class="ti ti-skype"></i></a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </header>
    </ng-template>
  <!--================Header Menu Area =================-->
  <main class="site-main"></main>
  <!--================ Hero sm Banner start =================-->
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner">
        <div class="hero-banner__content">
          <h3>Book & Amazing Thing</h3>
          <h1>Interesting Book in your hand</h1>
          <h4>{{today | date:'dd-MM-yyyy'}}</h4>
        </div>
      </div>
    </div>
  </section>
  <!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin">
    <div *ngIf="book">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">

            <div class="main_blog_details">
              <img class="img-fluid" src="assets/images/blog4.png" alt="">
              <h4>{{book.title}}<br /></h4>
              <div class="user_details">
                <div class="float-left">
                  <a href="#">Lifestyle</a>
                  <a href="#">Gadget</a>
                </div>
                <div class="float-right mt-sm-0 mt-3">
                  <div class="media">
                    <div class="media-body">
                      <h5>{{book.author}}</h5>
                      <p>{{book.createdAt | date:'dd-MM-yyyy h:mma'}}</p>
                    </div>
                    <div class="d-flex">
                      <img width="42" height="42" src="assets/images/user-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <p [innerHTML]="book.content"></p>
              <div class="news_d_footer flex-column flex-sm-row">
                <span class="align-middle mr-2"><i class="ti ti-heart" style="color: red"></i></span>Become the first
                person to like thiss
                <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span class="align-middle mr-2"><i
                      class="ti ti-themify-favicon"></i></span>Comments</a>

              </div>
            </div>


            <div class="navigation-area">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                    <a (click)="goBack()">
                        <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-secondary"></button>
                      </a>
                </div>
                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                    <a routerLink="/books/edit/{{book.id}}">
                    <button pButton type="button" label="Edit" class="ui-button-rounded ui-button-success"></button>
                  </a>
                </div>
              </div>
            </div>
            <div class="comments-area">

              <h4>Comments</h4>
              <ul class="comments">
                <li *ngFor="let comment of comments">
                  <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                        <div class="thumb">
                            <a [routerLink]="'/users/'+comment.userDTO.id">
                              <img src="assets/images/c4.jpg" alt="" >
                            </a>
                        </div>
                        <div class="desc">

                          <p class="date">{{comment.createAt | date:'dd-MM-yyyy h:mma'}} </p>
                          <p class="comment">
                            {{comment.message}}
                          </p>
                        </div>
                      </div>
                      <div class="reply-btn">
                        <button (click)="delete(comment)" class="btn-reply text-uppercase">delete</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
            <div class="comment-form">
              <h4>Leave a Reply</h4>
              <form>
                <div class="form-group form-inline">
                  
                </div>
                <div class="form-group">
                  <textarea #commentMessage class="form-control mb-10" rows="5" name="message" placeholder="MESSAGE"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'MESSAGE'" required="" ></textarea>
                </div>
                <div *ngIf="commentMessage.value==''; else submitEnable">
                    <button class="button submit_btn" style="opacity: 0.6;"disabled>
                        Post Comment
                      </button>
                </div>
                <ng-template #submitEnable>
                    <button class="button submit_btn" (click)="add(commentMessage.value); commentMessage.value='' ">
                        Post Comment
                      </button>
                </ng-template>
                    
              </form>
            </div>
          </div>

          <!-- Start Blog Post Siddebar -->
          <div class="col-lg-4 sidebar-widgets">
            <div class="widget-wrap">
              <div class="single-sidebar-widget newsletter-widget">
                <h4 class="single-sidebar-widget__title">Newsletter</h4>
                <div class="form-group mt-30">
                  <div class="col-autos">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                  </div>
                </div>
                <button class="bbtns d-block mt-20 w-100">Subcribe</button>
              </div>


              <div class="single-sidebar-widget post-category-widget">
                <h4 class="single-sidebar-widget__title">Catgory</h4>
                <ul class="cat-list mt-20">
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Text Book</p>
                      <p>(03)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Magazine</p>
                      <p>(09)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Autobiography</p>
                      <p>(12)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Journals</p>
                      <p>(02)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Thriller</p>
                      <p>(10)</p>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="single-sidebar-widget popular-post-widget">
                <h4 class="single-sidebar-widget__title">Popular Post</h4>
                <div class="popular-post-list">
                  <div class="single-post-list">
                    <div class="thumb">
                      <img class="card-img rounded-0" src="assets/images/thumb1.png" alt="">
                      <ul class="thumb-info">
                        <li><a href="#">Adam Colinge</a></li>
                        <li><a href="#">Dec 15</a></li>
                      </ul>
                    </div>
                    <div class="details mt-20">
                      <a href="blog-single.html">
                        <h6>Accused of assaulting flight attendant miktake alaways</h6>
                      </a>
                    </div>
                  </div>
                  <div class="single-post-list">
                    <div class="thumb">
                      <img class="card-img rounded-0" src="assets/images/thumb2.png" alt="">
                      <ul class="thumb-info">
                        <li><a href="#">Adam Colinge</a></li>
                        <li><a href="#">Dec 15</a></li>
                      </ul>
                    </div>
                    <div class="details mt-20">
                      <a href="blog-single.html">
                        <h6>Tennessee outback steakhouse the
                          worker diagnosed</h6>
                      </a>
                    </div>
                  </div>
                  <div class="single-post-list">
                    <div class="thumb">
                      <img class="card-img rounded-0" src="assets/images/thumb3.png" alt="">
                      <ul class="thumb-info">
                        <li><a href="#">Adam Colinge</a></li>
                        <li><a href="#">Dec 15</a></li>
                      </ul>
                    </div>
                    <div class="details mt-20">
                      <a href="blog-single.html">
                        <h6>Tennessee outback steakhouse the
                          worker diagnosed</h6>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-sidebar-widget tag_cloud_widget">
                <h4 class="single-sidebar-widget__title">Popular Post</h4>
                <ul class="list">
                  <li>
                    <a href="#">project</a>
                  </li>
                  <li>
                    <a href="#">love</a>
                  </li>
                  <li>
                    <a href="#">technology</a>
                  </li>
                  <li>
                    <a href="#">travel</a>
                  </li>
                  <li>
                    <a href="#">software</a>
                  </li>
                  <li>
                    <a href="#">life style</a>
                  </li>
                  <li>
                    <a href="#">design</a>
                  </li>
                  <li>
                    <a href="#">illustration</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Post Siddebar -->
    </div>
  </section>
  <!--================ End Blog Post Area =================-->

  <!--================ Start Footer Area =================-->
  <footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              dolore
              magna aliqua.
            </p>
          </div>
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Newsletter</h6>
            <p>Stay update with our latest</p>
            <div class="" id="mc_embed_signup">

              <form target="_blank" novalidate="true"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" class="form-inline">

                <div class="d-flex flex-row">

                  <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Email '" required="" type="email">


                  <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                  <div style="position: absolute; left: -5000px;">
                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                  </div>
                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget mail-chimp">
            <h6 class="mb-20">Instragram Feed</h6>
            <ul class="instafeed d-flex flex-wrap">
              <li><img src="assets/images/i1.jpg" alt=""></li>
              <li><img src="assets/images/i2.jpg" alt=""></li>
              <li><img src="assets/images/i3.jpg" alt=""></li>
              <li><img src="assets/images/i4.jpg" alt=""></li>
              <li><img src="assets/images/i5.jpg" alt=""></li>
              <li><img src="assets/images/i6.jpg" alt=""></li>
              <li><img src="assets/images/i7.jpg" alt=""></li>
              <li><img src="assets/images/i8.jpg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Follow Us</h6>
            <p>Let us be social</p>
            <div class="footer-social d-flex align-items-center">
                <a href="https://www.facebook.com/">
                  <i class="fa fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="https://dribbble.com/">
                  <i class="fa fa-dribbble"></i>
                </a>
                <a href="https://www.behance.net/">
                  <i class="fa fa-behance"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End Footer Area =================-->


</body>